<!DOCTYPE html>
<html>
  <head>

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0px }
      #map { height: 100% }
    </style>

    <script src="http://maps.google.com/maps/api/js?v=3&sensor=false&key=<%=@GOOGLEMAP_KEY%>"
        type="text/javascript" charset="UTF-8"></script>

    <script type="text/javascript">
    //<![CDATA[

    var map;
    
    // 初期化。bodyのonloadでinit()を指定することで呼び出してます
    function init() {

      // Google Mapで利用する初期設定用の変数
 
     var latlng = new google.maps.LatLng(<%= @result["coord"]["lat"]%>,<%= @result["coord"]["lon"]%>);


      var opts = {
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: latlng
      };

      // getElementById("map")の"map"は、body内の<div id="map">より
      map = new google.maps.Map(document.getElementById("map"), opts);

      google.maps.event.addListener(map, 'click', mylistener);
    }

    function mylistener(event) {
      location.href = "index?lat=" + event.latLng.lat() + "&lon=" + event.latLng.lng() + "&comment=" + document.info.comment.value;
    }

    //]]>
    </script>
  </head>

  <body onload="init()">
   
    <center>
    <h1>Welcome to TochiSlide Hotline</h1>
    <div id="map" style="height:500px; width:500px"></div>
    <h2 font-size="20">Time:<%= @time %>(<%=@timeZoneId%>)</h2>

    <form method="get" action="index" name="info">
    <table border="1" cellspacing="0">
    	<tr>
                <th>Item</th>
                <th>Value</>
        </tr>

	<tr>
		<th>Lat</th>
		<td><input type="text" name="lat" value="<%= @result["coord"]["lat"]%>" readonly ></td>
	</tr>
    	<tr>
		<th>Lng</th>
		<td><input type="text" name="lon" value="<%= @result["coord"]["lon"]%>" readonly></td>
	</tr>
    	<tr>
		<th>Country</th>
		<td><input type="text" name="country" value="<%= @result["sys"]["country"]%>" readonly></td>
	</tr>
    	<tr>
		<th>City</th>
		<td><input type="text" name="city" value="<%= @result["name"]%>" readonly></td>
	</tr>
    	<tr>
		<th>Weather</th>
		<td><input type="text" name="weather" value="<%= @result["weather"][0]["main"]%>" readonly></td>
	</tr>
	<tr>
                <th>Temperature</th>
                <td><input type="text" name="temp" value="<%= @result["main"]["temp"]%>" readonly></td>
        </tr>
	<tr>
                <th>Humidity</th>
                <td><input type="text" name="humidity" value="<%= @result["main"]["humidity"]%>" readonly></td>
        </tr>
    	<tr>
                <th>Comment</th>
                <td><input type="text" style="background-color:#ffd700;" name="comment" value="<%=@comment%>"></td>
        </tr>
    </table>
　　　　　
    <input type="submit" value="submit">
    </center>
    </form>
  </body>

</html>
